body{
  background-image: url(../stylesheets/texturedpaper1.png)
  /*background-color: #354445;*/
}
#banner{
  border-bottom: 2px black solid;
  text-align: center;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 40px;
  margin: 10px;
  padding: 5px;
  /*background-color: #212120;*/
  color:black;
}
.buttons{
  border:1px black solid;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #26A386;
  /*text-align: justify;
  right: auto;
  left: auto;*/
}
.buttonString{
  text-align: center;
}
#blogTitle{
  font-size: 30px;
  font-family: arial;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}
.content{
  border: 2px #276657 solid;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
  font-size: 16px;
  text-decoration: #333;
  background-color: #BBBDBC;
}
#date {
  margin-left: 80%;
  font-size: 14px;
  font-style: italic;
}

#older{
  text-align: left;
  display: inline;
  margin-left: 23%;
  a: #F2D45A;
}

#newer{
  text-align: right;
  display: inline;
  margin-left: 46%;
}
#footer{
  margin-top: 20px;
  border-top: 1px black solid;
  text-align: center;
  font-size: 12px;
}
a:link{
  color: #2E2E2E;
  text-decoration: none;
  font-weight: bold;
}
a:hover{
  color:#EBBE2A;
  text-decoration: none;
}

a:visited{
  color: #051E63;
  }
